{% extends "laravel_like.html.twig" %}

{% block body %}
    <div class="flex-center position-ref full-height">
        {% include 'navbar.html.twig' %}

        <div class="content">
            <div class="title m-b-md">
                Yummy
            </div>

            <div class="links">
                <a href="http://www.iut-lens.univ-artois.fr">Marathon du Web</a>
            </div>
            <div>
                <ul>
                    <li><a href="{{ path("recipe_all") }}">Toutes les recettes de a à z</a></li>
                    <li>Les recettes les plus aimées (5) </li>
                    <li>Listes des articles (10/page)</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
