{% extends "base.html.twig" %}

{% block body %}
    <main class='home'>
        <div class='home__div1' style='background-image:url({{ asset('build/img/home/visuehome.jpg') }});'>{% include('welcome/templates/recettes-az.html.twig') %}</div>
        <div class='home__div2' style='background-image:url({{ asset("build/img/home/visurecette.jpg") }});'>{% include('welcome/templates/recettes-like.html.twig') %}</div>
        <div class='home__div3' style='background-image:url({{ asset("build/img/home/visuarticle.jpg") }});'>{% include('welcome/templates/articles.html.twig') %}</div>
        <div class='home__div4' style='background-image:url({{ asset("build/img/home/visusecurite.jpg") }});'>{% include('welcome/templates/connexion.html.twig') %}</div>
        <div class='home__div5'>{% include('welcome/templates/recherche.html.twig') %}</div>
    </main>
{% endblock %}
