{% extends "base.html.twig" %}

{% block body %}
    <ul>
        {% for recipe in recipes %}
            <li>
                <a href="{{ path("recipe_view", {id:recipe.id}) }}">{{ recipe.name }}</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a class= "btn btn-info" href="{{ path('admin_edit_recipe', {id:recipe.id}) }}">Editer</a>
                <a class= "btn btn-alert" href="{{ path('admin_delete_recipe', {id:recipe.id}) }}">Supprimer</a>
            {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}