{% extends "base.html.twig" %}

{% block body %}
    <h1>{{ recipe.name }}</h1>
    {% if recipe.media is not null  %}
        <p><img src="{{ asset(prefix~recipe.webPath) }}"/></p>
    {% endif %}
{% endblock %}