<nav>
    <div class="logo"></div>
    <div class="list">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{{ path("recipe_all") }}">Recettes</a></li>
            <li><a href="">Articles</a></li>
            <li><a href="">Connexion</a></li>
        </ul>
    </div>
</nav>

<div class="burger">
    <div class="this"></div>
</div>