{% extends 'base.html.twig' %}

{% block body %}
    <main class="page-404" style='background-image:url({{ asset('build/img/404/visu404.jpg') }})'>
        <h1>404<br> not food</h1>

        <div class='page-404__abs'>
            <a href="{{ path('welcome') }}">Aller à l'Accueil</a>
        </div>
    </main>
{% endblock %}

