{% extends "base.html.twig" %}

{% block body %}
    <h1>{{ article.title }}</h1>
    {% if article.media is not null  %}
        <p><img src="{{ asset(prefix~article.webPath) }}"/></p>
    {% endif %}
{% endblock %}