{% extends "base.html.twig" %}

{% block body %}

    <main class="single-recette">
        <div class="single-recette__div1" style="background-image: url({{ asset(prefix~article.webPath) }});">
            <div class ="container_image" >
                <div class="titre_recette">
                    <h1>{{ article.title }}</h1>
                </div>
            </div>
        </div>
        <div class="single-recette__div2">
            <div class="container_recette">
                <div class="recette_content">
                    <div class="description">
                        <p>{{ article.content }}</p>
                    </div>

                    </div>


                </div>
            </div>
        </div>
    </main>

{% endblock %}